<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title>Hello World</title>
</head>
<body>
<ui:composition template="/template.xhtml">

    <ui:define name="body">

        <h:form styleClass="ui form segment">

            <h:messages errorClass="errorMessage" infoClass="infoMessage" warnClass="warnMessage" />

            <h:panelGrid columns="2">

            <h:outputText styleClass="ui left labeled icon input" value="Enseigne :" />


                <h:inputText styleClass="field" id="enseigne" value="#{creationArticle.marque}"
                             required ="true" requiredMessage="Veuillez entrer une enseigne" />

                <h:outputText styleClass="ui left labeled icon input" value="Reference Article :" />

                <h:inputText styleClass="field" id="reference" value="#{creationArticle.reference}"
                               required ="true" requiredMessage="Veuillez entrer une reference" />

                <h:outputText styleClass="ui left labeled icon input" value="Description courte :" />

                <h:inputText styleClass="field" id="desc" value="#{creationArticle.descriptionCourte}"
                             required="true" requiredMessage="Veuillez entrer une description courte" />


                <h:outputText styleClass="ui left labeled icon input" value="Modèle :" />

                <h:inputText styleClass="field" id="modele" value="#{creationArticle.titre}"
                             required="true" requiredMessage="Veuillez entrer un modele"/>

                <h:outputText styleClass="ui left labeled icon input" value="Quantité :" />

                <h:inputText styleClass="field" id="stock" value="#{creationArticle.stock}"
                             required="true" requiredMessage="Veuillez entrer un stock"/>

                <h:outputText styleClass="ui left labeled icon input" value="Description Longue :" />

                <h:inputTextarea styleClass="field" id="DescriptionL" value="#{creationArticle.descriptionLongue}"
                             required="true" requiredMessage="Veuillez entrer une description longue"/>


                <h:outputText styleClass="ui left labeled icon input" value="Prix :" />

                <h:inputText styleClass="field" id="prix" value="#{creationArticle.prix}"
                             required="true" requiredMessage="Veuillez entrer un prix"/>

                <h:outputText styleClass="ui left labeled icon input" value="Reservé au super client :" />

                <h:selectBooleanCheckbox styleClass="field" id="superclientRestricted" value="#{creationArticle.superclientRestricted}" />





                <h:commandButton class="ui green button" type="submit" value="Valider" action="#{creationArticle.addArticle}" />

                <h:commandButton class="ui black button" type="reset" value="Réinitialiser" />

            </h:panelGrid>

        </h:form>
    </ui:define>
</ui:composition>

<script type="application/javascript">
    var guid = (function() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
        }
        return function() {
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                    s4() + '-' + s4() + s4() + s4();
        };
    })();
</script>
</body>
</html>