<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title>Hello World</title>
</head>
<body>
<ui:composition template="/template.xhtml">

    <ui:define name="body">
        <h1>Liste des Relais</h1>
        <h:messages errorClass="errorMessage" infoClass="infoMessage" warnClass="warnMessage" />
        <h:form id="users-form">
            <h:dataTable value="#{relai.relai}" var="rel" class="ui table segment">

                <h:column>
                    <!-- column header -->
                    <f:facet name="header">Numéro de relai</f:facet>
                    <!-- row record -->
                    #{rel.id}
                </h:column>

                <h:column>
                    <f:facet name="header">Nom du relai</f:facet>
                    #{rel.titre}
                </h:column>

                <h:column>
                    <f:facet name="header">Ville</f:facet>
                    #{rel.ville}
                </h:column>

                <h:column headerClass="col1">
                    <div class="1 fluid ui icon buttons">
                        <f:facet name="header">Edit</f:facet>
                        <h:commandLink action="#{modificationRelai.goToDetailPage}">
                            <h:graphicImage value="/./images/edit.png" width="30" height="30" />
                            <f:setPropertyActionListener value="#{rel}"
                                                         target="#{modificationRelai.currentRelai}" />
                        </h:commandLink>
                    </div>
                </h:column>

                <h:column headerClass="col1">
                    <div class="1 fluid ui icon buttons">
                        <f:facet name="header">Remove</f:facet>
                        <h:commandLink action="#{modificationRelai.doDeleteRelai}">
                            <h:graphicImage value="/./images/DeleteRed.png" width="30" height="30" />
                            <f:setPropertyActionListener value="#{rel}"
                                                         target="#{modificationRelai.currentRelai}" />
                        </h:commandLink>
                    </div>
                </h:column>

                <f:facet name="footer">
                    <a class="ui teal labeled icon button" href="./addRelai.jsf"><i class="user icon"></i> Add Relai</a>
                </f:facet>
            </h:dataTable>
        </h:form>

    </ui:define>
</ui:composition>
</body>
</html>