<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title>Hello World</title>
</head>
<body>
<ui:composition template="/template.xhtml">

    <ui:define name="body">
        <h1>Liste des utilisateurs</h1>
        <h:messages errorClass="errorMessage" infoClass="infoMessage" warnClass="warnMessage" />
        <h:form id="users-form">
            <h:dataTable value="#{article.articles}" var="objet" class="ui table segment">

                <h:column>
                    <!-- column header -->
                    <f:facet name="header">Enseigne</f:facet>
                    <!-- row record -->
                    #{objet.reference}
                </h:column>

                <h:column>
                    <f:facet name="header">Reference</f:facet>
                    #{objet.titre}
                </h:column>

                <h:column>
                    <f:facet name="header">Description courte</f:facet>
                    #{objet.marque}
                </h:column>


                <h:column>
                    <f:facet name="header">Prix</f:facet>
                    #{objet.marque}
                </h:column>

                <h:column headerClass="col1">
                    <div class="1 fluid ui icon buttons">
                        <f:facet name="header">Edit</f:facet>
                        <h:commandLink action="#{modificationArticle.goToDetailPage}">
                            <h:graphicImage value="/./images/edit.png" width="30" height="30" />
                            <f:setPropertyActionListener value="#{objet}"
                                                         target="#{modificationArticle.currentArticle}" />
                        </h:commandLink>
                    </div>
                </h:column>

                <h:column headerClass="col1">
                    <div class="1 fluid ui icon buttons">
                        <f:facet name="header">Remove</f:facet>
                        <h:commandLink action="#{modificationArticle.doDeleteArticle}">
                            <h:graphicImage value="/./images/DeleteRed.png" width="30" height="30" />
                            <f:setPropertyActionListener value="#{objet}"
                                                         target="#{modificationArticle.currentArticle}" />
                        </h:commandLink>
                    </div>
                </h:column>

                <f:facet name="footer">
                    <a class="ui teal labeled icon button" href="./addArticle.jsf"><i class="user icon"></i> Add Article</a>
                </f:facet>
            </h:dataTable>
        </h:form>

    </ui:define>
</ui:composition>
</body>
</html>