<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title>Hello World</title>
</head>
<body>
<ui:composition template="/template.xhtml">

    <ui:define name="body">
        <h1>Liste des utilisateurs</h1>
        <h:messages errorClass="errorMessage" infoClass="infoMessage" warnClass="warnMessage" />
        <h:form id="users-form">
        <h:dataTable value="#{utilisateur.users}" var="user" class="ui table segment">

            <h:column>
                <!-- column header -->
                <f:facet name="header">Nom d'utilisateur</f:facet>
                <!-- row record -->
                #{user.username}
            </h:column>

            <h:column>
                <f:facet name="header">Nom</f:facet>
                #{user.lastname}
            </h:column>

            <h:column>
                <f:facet name="header">Prénom</f:facet>
                #{user.firstname}
            </h:column>

            <h:column headerClass="col1">
                <div class="1 fluid ui icon buttons">
                    <f:facet name="header">Edit</f:facet>
                    <h:commandLink action="#{modificationUtilisateur.goToDetailPage}">
                        <h:graphicImage value="/./images/edit.png" width="30" height="30" />
                        <f:setPropertyActionListener value="#{user}"
                                                     target="#{modificationUtilisateur.currentUser}" />
                    </h:commandLink>
                </div>
            </h:column>

            <h:column headerClass="col1">
                <div class="1 fluid ui icon buttons">
                    <f:facet name="header">Remove</f:facet>
                    <h:commandLink action="#{modificationUtilisateur.doDeleteUser}">
                        <h:graphicImage value="/./images/DeleteRed.png" width="30" height="30" />
                        <f:setPropertyActionListener value="#{user}"
                                                     target="#{modificationUtilisateur.currentUser}" />
                    </h:commandLink>
                </div>
            </h:column>

            <f:facet name="footer">
                <a class="ui teal labeled icon button" href="./addUtilisateur.jsf"><i class="user icon"></i> Add Administateur</a>
            </f:facet>
        </h:dataTable>
    </h:form>

    </ui:define>
</ui:composition>
</body>
</html>