<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title>Hello World</title>
</head>
<body>
<ui:composition template="/template.xhtml">

    <ui:define name="body">
        <h1>Liste des modes de livraison</h1>
        <h:messages errorClass="errorMessage" infoClass="infoMessage" warnClass="warnMessage" />
        <h:form id="users-form">
            <h:dataTable value="#{modeLivraison.modesLivraison}" var="mode" class="ui table segment">

                <h:column>
                    <!-- column header -->
                    <f:facet name="header">Mode de livraison</f:facet>
                    <!-- row record -->

                    <h:inputText styleClass="field" id="libelle" value="#{mode.libelle}"
                                 required="true" requiredMessage="Veuillez entrer une description longue"/>
                </h:column>

                <h:column>
                    <f:facet name="header">Coût client classique (€)</f:facet>

                    <h:inputText styleClass="field" id="coutclassique" value="#{mode.coutClassique}"
                                 required="true" requiredMessage="Veuillez entrer une description longue"/>
                </h:column>

                <h:column>
                    <f:facet name="header">Coût super client (€)</f:facet>
                    <h:inputText styleClass="field" id="coutsuper" value="#{mode.coutSuper}"
                                 required="true" requiredMessage="Veuillez entrer une description longue"/>
                </h:column>

                <h:column headerClass="col1">
                    <div class="1 fluid ui icon buttons">
                        <f:facet name="header">Save</f:facet>
                        <h:commandLink action="#{modeLivraison.saveModeLivraison}">
                            <h:graphicImage value="/./images/disquette-logo.png" width="30" height="30" />
                            <f:setPropertyActionListener value="#{mode}"
                                                         target="#{modeLivraison.currentModeLivraison}" />
                        </h:commandLink>
                    </div>
                </h:column>

                <f:facet name="footer">
                    <a class="ui teal labeled icon button" href="./listeRelai.jsf"><i class="user icon"></i> Acceder aux relais</a>
                </f:facet>
            </h:dataTable>
        </h:form>

    </ui:define>
</ui:composition>
</body>
</html>