<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title>Hello World</title>
</head>
<body>
<ui:composition template="/template.xhtml">

    <ui:define name="body">
        <h1>Liste des modes de paiement</h1>
        <h:messages errorClass="errorMessage" infoClass="infoMessage" warnClass="warnMessage" />
        <h:form id="paiement-form">
            <h:dataTable value="#{modePaiement.modesPaiement}" var="le_mod" class="ui table segment">

                <h:column>
                    <!-- column header -->
                    <f:facet name="header">Mode de paiement</f:facet>
                    <!-- row record -->
                    #{le_mod.titre}
                </h:column>

                <h:column>
                    <f:facet name="header">Accessible client classique</f:facet>
                    <h:selectBooleanCheckbox styleClass="field" id="accessclassicclient" value="#{le_mod.accessibleClassique}" />
                </h:column>

                <h:column>
                    <f:facet name="header">Accessible super client</f:facet>
                    <h:selectBooleanCheckbox styleClass="field" id="accesssuperclient" value="#{le_mod.accessibleSuper}" />
                </h:column>

                <f:facet name="footer">
                     <h:commandButton type="submit" class="ui green button" value="Enregistrer" action="#{modePaiement.doSavePaiement}" />
                </f:facet>
            </h:dataTable>
        </h:form>

    </ui:define>
</ui:composition>
</body>
</html>