<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title>Hello World</title>
</head>
<body>
<ui:composition template="/template.xhtml">

    <ui:define name="body">

        <h:form styleClass="ui form segment">

            <h:messages errorClass="errorMessage" infoClass="infoMessage" warnClass="warnMessage" />

            <h:panelGrid columns="2">

                <h:outputText styleClass="ui left labeled icon input" value="Numéro de relai :" />


                <h:inputText styleClass="field" id="numero" value="#{modificationRelai.currentRelai.id}"
                             required ="true" requiredMessage="Veuillez entrer une un numéro de relai" />

                <h:outputText styleClass="ui left labeled icon input" value="Nom de relai :" />

                <h:inputText styleClass="field" id="reference" value="#{modificationRelai.currentRelai.titre}"
                             required ="true" requiredMessage="Veuillez entrer une reference" />

                <h:outputText styleClass="ui left labeled icon input" value="Numéro, rue :" />

                <h:inputText styleClass="field" id="desc" value="#{modificationRelai.currentRelai.adresse}"
                             required="true" requiredMessage="Veuillez entrer une description courte" />


                <h:outputText styleClass="ui left labeled icon input" value="Compléments d'adresse :" />

                <h:inputText styleClass="field" id="modele" value="#{modificationRelai.currentRelai.complement}"
                             required="true" requiredMessage="Veuillez entrer un modele"/>

                <h:outputText styleClass="ui left labeled icon input" value="Code postal :" />

                <h:inputText styleClass="field" id="stock" value="#{modificationRelai.currentRelai.codepostal}"
                             required="true" requiredMessage="Veuillez entrer un stock"/>

                <h:outputText styleClass="ui left labeled icon input" value="Ville :" />

                <h:inputText styleClass="field" id="DescriptionL" value="#{modificationRelai.currentRelai.ville}"
                             required="true" requiredMessage="Veuillez entrer une description longue"/>


                <h:commandButton type="submit" value="Valider" action="#{modificationRelai.doSaveRelai}" />

                <h:commandButton type="reset" value="Réinitialiser" />

            </h:panelGrid>

        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>