<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title>Hello World</title>
</head>
<body>
<ui:composition template="/template.xhtml">

    <ui:define name="body">

        <h:form styleClass="ui form segment">

            <h:messages errorClass="errorMessage" infoClass="infoMessage" warnClass="warnMessage" />

            <h:panelGrid columns="2">

                <h:outputText styleClass="ui left labeled icon input" value="Nom d'utilisateur :" />

                <h:inputText readonly="true" styleClass="field" id="username" value="#{modificationUtilisateur.currentUser.username}"
                             required="true" requiredMessage="Veuillez entrer un nom d'utilisateur" />


                <h:outputText styleClass="ui left labeled icon input" value="Mot de passe :" />

                <h:inputSecret redisplay="true" styleClass="field" id="password" value="#{modificationUtilisateur.currentUser.password}"
                               required ="true" requiredMessage="Veuillez entrer un mot de passe" />

                <h:outputText styleClass="ui left labeled icon input" value="Prénom :" />

                <h:inputText styleClass="field" id="firstname" value="#{modificationUtilisateur.currentUser.firstname}"
                             required="true" requiredMessage="Veuillez entrer un prénom" />


                <h:outputText styleClass="ui left labeled icon input" value="Nom :" />

                <h:inputText styleClass="field" id="lastname" value="#{modificationUtilisateur.currentUser.lastname}"
                             required="true" requiredMessage="Veuillez entrer un nom"/>


                <h:commandButton type="submit" value="Valider" action="#{modificationUtilisateur.doSaveUser()}" />

                <h:commandButton type="reset" value="Réinitialiser" />

            </h:panelGrid>

        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>