<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title>Administration</title>
</head>
<body>
<ui:composition template="/template.xhtml">

    <ui:define name="body">
        <h:form>
            <h3>Bonjour #{login.username}</h3>
            <br/>
            <h:outputText value="Bienvenue dans votre espace d'administration sécurisé"/>
            <br/>
        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>