<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
    <link rel="stylesheet" href="/css/semantic.css" />
    <link rel="stylesheet" href="/css/semantic.min.css.css" />
    <title>Hello World</title>
</head>
<body>
<ui:composition template="/template.xhtml">

    <ui:define name="title"><a class="ui red label">Erreur sur la page</a></ui:define>

    <ui:define name="body">
        <h:outputLabel value="L'action a été validée avec succès !"/>
    </ui:define>
</ui:composition>
</body>
</html>
