<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
    <link rel="stylesheet" href="/css/semantic.css" />
    <link rel="stylesheet" href="/css/semantic.min.css.css" />
    <title>Hello World</title>
</head>
<body>
<ui:composition template="/template.xhtml">

    <ui:define name="header"></ui:define>
    <ui:define name="body">
        <div class="ui inverted menu">
            <a class="item active">Administration - Identification</a>
        </div>

        <h:messages errorClass="errorMessage" infoClass="infoMessage" warnClass="warnMessage" />

        <div class="container_middle">
            <h3>Login here</h3>
            <h:form id="login-form">
                <div class="ui form segment">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left labeled icon input">
                            <h:inputText value="#{login.username}" id="username"/>
                            <i class="user icon"></i>
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left labeled icon input">
                            <h:inputSecret value="#{login.password}" id="password"/>
                            <i class="lock icon"></i>
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                   </div>
                   <div class="ui error message">
                        <div class="header"><h:messages /></div>
                   </div>
                   <h:commandButton id="button" value="Login" class="ui blue submit button" action="#{login.doLogin()}"/>
            </div>
            </h:form>
        </div>
    </ui:define>
    <ui:define name="footer" />
</ui:composition>
</body>
</html>
