<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
        >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="/css/semantic.css" />
<link rel="stylesheet" href="/css/semantic.min.css.css" />
<title>Administration</title>
<script type="application/javascript">
    function generateId() {
        document.getElementById("j_id5:numero").value = Math.round((new Date()).getTime()/100);
    }
</script>
</head>

<body>
<div class="ui inverted menu">
<p>
    <ui:insert name="header">
            <a class="item active" href="/secured/welcome.jsf">Administration</a>
            <a class="item" href="/./secured/listeUtilisateurs.jsf">Liste des utilisateurs</a>
            <a class="item" href="/./secured/listeArticles.jsf">Referentiel Produit</a>
            <a class="item" href="/./secured/listeModeLivraison.jsf">Modes de Livraison</a>
            <a class="item" href="">Codes promotionnels</a>
            <a class="item" href="/./secured/modePaiement.jsf">Modes de paiement</a>
            <a class="item" href="EnvoiColis">Envoi Colis</a>
            <a class="item" href="Stats">Statistiques</a>

        <br/>
        <br/>

        <h:messages errorClass="errorMessage" infoClass="infoMessage" warnClass="warnMessage" />

    </ui:insert>
</p>
</div>
<p><ui:insert name="body">Hello World Example!</ui:insert></p>
<ui:insert name="footer">
    <div class="container-right">
        <h:form>
            <h:commandLink action="#{login.doLogout}" class="ui red submit button" value="Logout"/>
        </h:form>
    </div>
</ui:insert>
</body>
</html>
